<If "%{REQUEST_URI} != '/ProgettoFinale_Ilmondodellauto/index.php'">
    php_value auto_prepend_file "C:\\Users\\GAMING PC\\Downloads\\xampp\\htdocs\\ProgettoFinale_Ilmondodellauto\\include\\menuChoice.php"
</If>